@import url(//db.onlinewebfonts.com/c/794a0de6a529290274465576a9a6990b?family=Block+Berthold);
@font-face {font-family: "Block Berthold"; src: url("//db.onlinewebfonts.com/t/794a0de6a529290274465576a9a6990b.eot"); src: url("//db.onlinewebfonts.com/t/794a0de6a529290274465576a9a6990b.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/794a0de6a529290274465576a9a6990b.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/794a0de6a529290274465576a9a6990b.woff") format("woff"), url("//db.onlinewebfonts.com/t/794a0de6a529290274465576a9a6990b.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/794a0de6a529290274465576a9a6990b.svg#Block Berthold") format("svg"); }
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Custom properties */
:root {
    --Deep-Blue: #161922;
    --Nude: #F3B894;
    --Nude-Alt: rgba(243/255, 184/255, 148/255, 0.2);
    --DrinkColor: #FFEFDD;
    --PatisseriesColor: #FFF4E8;
}
html{
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
}
body{
    font-family: "Block Berthold";
    color: var(--Nude-Alt);
    background-color: var(--Deep-Blue);
}
ul {
    list-style: none;
}
section {
    padding: 5rem 0;
}
a{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--Nude);
    font-size: 17.5px;
    /* font-weight: bolder; */
}
.container {
    width: 420px;
    max-width: 420px;
    padding: 0 1.5rem;
    margin: 0 auto;

}

.left-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 420;
    height: 100%;
    background-color: var(--Deep-Blue);
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 140px;
    height: 140px;
}

.logo:hover {
    animation: pulse;
    animation-duration: 1s;
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 123px;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-item{
    padding: 14px;
    font-size: 25px;
}
.pmr {
    background-color: var(--Nude);
    color: var(--Deep-Blue);
    width: 420px;
    height: 164px;
    border: none;
}
.button-pmr{
    padding-top: 144px;
}
.nav-link{
    opacity: 0.2;
}
.nav-link:hover{
    cursor: pointer;
    opacity: 1;
}
.icon-pmr{
    animation: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
h3{
    color: var(--Deep-Blue);
    font: 'Block Berthold';
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 24px;
}
.container-grid{
    margin-left: 7.8%;
}
.content{
    margin-left: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:transparent;
    columns: 2;
    border: 1px grey ;
    border-style: none;
    width: 540px;
    height: 540px;
    list-style: none;
}
.rowOne{
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    width: 1080px;
}
.rowTwo{
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    width: 1080px;
}
.rowThree{
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    width: 1080px;
}

H1{
    position: relative;
    align-items: center;
    font-size: 60px;
    padding-bottom: 70px;
    padding-left: -5%;
    text-align: center;
    color: var(--Deep-Blue);
    z-index: 200;
}
.item {
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    position: absolute;
    padding-top: 93px;
    padding-left: 61px;
    z-index: 100;
    background-color: white;
}
.item-menus{
    align-items: center;
    width: 540px;
    height: 540px;
}
.item-boissons{
    background-color: var(--DrinkColor);
    width: 540px;
    height: 540px;
}
.item-patisseries{
    background-color: var(--PatisseriesColor);
    width: 540px;
    height: 540px;
}
.item-sandwichs{
    width: 540px;
    height: 540px;
}
.item-petitdej{
    background-color: white;
    width: 540px;
    height: 540px;
}
.item-brunch{
    background-color: var(--DrinkColor);
    width: 540px;
    height: 540px;
}
